<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  <title>Reddit Reader</title>
</head>

<body>
  <header>
    <h1>
      <a href="/">Reddit Reader</a>
    </h1>
    <h3>Reading:{% for read in reading %} {{read}}{% endfor %}</h3>
  </header>
  <main>
    {% for result in results %}
    <div>
      <h3>
        <a href="{{result['link']}}" target="_blank">
          {{result['title']}}
        </a>
      </h3>
      <h4>{{result['upvotes']}} upvotes • {{result['script']}}</h4>
      <hr>
    </div>
    {% endfor %}
  </main>
</body>

</html>