<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  <title>Wons News | {{html_detail['title']}}</title>
</head>

<body>
  <header>
    <h1>{{html_detail['title']}}</h1>
    <div>
      {{html_detail['points']}} points | By {{html_detail['author']}} | <a href="{{html_detail['url']}}" target="_blank">
        {{html_detail['url']}}
      </a>
    </div>
  </header>
  <main>
    {% for detail in html_detail['children'] %}
    {% if detail['author'] != None %}
    <div>
      <strong>{{detail['author']}}</strong>
      <p></p>
      <p>{{detail['text']|safe}}</p>
      <p></p>
    </div>
    <hr>
    {% else %}
    <div>

      [deleted]

    </div>
    <hr>
    {% endif %}
    {% endfor %}
  </main>
</body>

</html>