<!DOCTYPE html>
<html>

<head>
	<title>
    Nomad News | {{result.title}}
  </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>{{result.title}}</h1>
    <div>
      {{result.points}} points | By {{result.author}} | <a href="{{result.url}}" target="_blank">{{result.url}}</a>
    </div>
  </header>
  <main>
    {% for comment in result.children %}
      <div>
        {% if comment.author == None%}
          [deleted]
        {% else %}
          <strong>{{comment.author}}:</strong>
          <p>{{comment.text | safe}}</p>
        {% endif %}
      </div>
      <hr />
    {% endfor %}
  </main>
</body>

</html>